<% provide(:title, 'home') %>

<div class='container flex flex-col items-center justify-center'>
  <h1 class="p-6 text-4xl font-bold">Welcom to the Sample App</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>
  <%= link_to 'Sign up now!', signup_path, class:'p-2 m-10 bg-indigo-400 rounded-lg text-white hover:text-black border-2 border-slate-400 hover:bg-indigo-200' %>
</div>
