<header class='text-slate-700'>
  <div class='container flex flex-col flex-wrap items-center px-4 py-2 mx-auto border-t md:flex-row'>
    <nav class='flex flex-wrap items-center justify-center text-base md:ml-auto'>
      <%= link_to 'About', '#', class: 'mr-5 hover:text-slate-500' %>
      <%= link_to 'Help', help_path, class: 'mr-5 hover:text-slate-500' %>
      <%= link_to 'Contact', '#', class: 'mr-5 hover:text-slate-500' %>
    </nav>
  </div>
</header>

