<header class='font-serif text-white bg-zinc-800'>
  <div class='container flex flex-col flex-wrap items-center px-4 py-2 mx-auto md:flex-row'>
    <%= link_to 'SAMPLE APP', root_path, class: 'ml-3 text-2xl sm:mr-7' %>
    <nav class='flex flex-wrap items-center justify-center text-base md:ml-auto'>
      <%= link_to 'LOGIN', '#', class: 'mr-5 hover:text-slate-600 text-slate-400' %>
    </nav>
  </div>
</header>
